{% extends "boss/layout_boss.html" %}
{% block heads %}find in select{% endblock %}
{% block scripts %}
           <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
{% endblock %}
{% block content %}
    <a href="javascript:sh()" style="color: #678889"><input type="button" value="click me"></a><br />
                                <div id="info" style="padding-top:15px; background-color: #3f9db8; width: 200px; border-radius: 20px 20px 20px 20px;text-align: center" >
                                    text


                                </div>
                                <script type="text/javascript">
                                sh();
                                function sh() {
                                obj = document.getElementById("info");
                                if( obj.style.display == "none" ) { obj.style.display = "block"; } else { obj.style.display = "none"; }
                                }
                                </script>
{% endblock %}